!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=6f8szm3fxUmiP_mwHbSG_EjIYCpOUx9CcBYYv8LdJiFbvQjAIXblDbgVj5UwJOnqyAIEih3CMUPl3YGRJ92hnGyWvOOnq0gdkTqlmn2kRtj3WFCma4N2q1ZxB1QHqkpkDwf21nHyvZVc5k4FlBotbQ" charset="UTF-8"></script></head>
<body>
    <div class="in">
        <p class="font">Регистрация</p>
        <form method="post">
            {% csrf_token %}
            <input   required placeholder="логин" type="text">
            <input   required placeholder="пароль" type="password">
        </form>
        <button>Войти</button>
    </div>
</body>
</html>