body {
    display: flex;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container input:checked~.checkmark:after {
    display: block;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark {
    background-color: #2196F3;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #ffffff;
    border: solid rgb(0, 0, 0) 1px;
}

.top {
    height: 20px;
    background-color: rgb(246, 211, 255);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -2;
    border-top: solid transparent;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.left {
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgb(128, 43, 255) 0%, rgb(246, 211, 255) 100%);
    border-left: solid transparent;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.rigth {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    background: linear-gradient(0deg, rgb(128, 43, 255) 0%, rgb(246, 211, 255) 100%);
    border-right: solid transparent;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.bottom {
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(128, 43, 255);
    right: 0;
    border-bottom: solid transparent;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.grad {
    padding: 5px;
    width: 270px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(128, 43, 255, 0.45) 0%, rgba(255, 255, 255, 0.45) 50%, rgba(71, 204, 204, 0.45) 100%);
}

p {
    display: flex;
    padding-left: 105px;
}

li {
    list-style-type: none;
}

.layer {
    overflow-y: scroll;
    padding: 3px;
    width: 250px;
    height: 400px;
}

table {
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    font-family: 'Ubuntu';
    border-spacing: 0;
    background-color: transparent;
}

.month {
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

.month button {
    font-size: 30px;
}

th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}

th {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.5);
    background-color: #292929;
    letter-spacing: 1px;
}

td {
    width: 14.285%;
    transition: all 0.3s;
    font-size: 14px;
    font-weight: 400;
    font-size: 14px;
    padding: 1.5% 1.5% 5%;
    vertical-align: initial;
    padding: 1.5% 6px;
    height: 100px;
    border-radius: 16px;
    border-color: black;
    text-align: right;
    max-width: 0;
}

.day:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.today {
    color: #FFF;
    background-color: rgba(0, 0, 0, .25) !important;
}

span.number {
    margin-left: 10%
}

span.event {
    background-color: rgba(0, 0, 0, .3);
    display: block;
    border-radius: 2px;
    background-color: transparent;
    text-align: left;
    border: 3px solid black;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span.event-ghost {
    background-color: transparent;
}

.cal {
    height: 570px;
    width: 756px;
}